{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}

    <div class="col-md-12">
        <div class="title-wrap text-center">
            <h3>Hi {{ user.username }},you are already logged in </h3>
            <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
        </div>
    </div>
{% else %}
			<form class="mt-5" method="post" role="form">
				<div class="row justify-content-center">
					<div class="col-md-8">
						<div class="messages text-center"></div>
					</div>
				</div>
				<div class="controls"><div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title-wrap text-center">
						<h3>Se Connecter ! </h3>

					</div>
				</div>
			</div>
		</div>

                    <div class="row justify-content-center">

                      {% csrf_token %}

						<div class="col-md-4 mt-3">
							<div class="form-group text-center">
								<input id="form_city" type="text" name="username" id="id_username" class="form-control text-center" placeholder="Nom d'utilisateur" required="required" data-error="Entrez votre nom d'utilisateur !">
								<div class="help-block with-errors"></div>
							</div>
						</div>

					<div class="col-md-4 mt-3">
							<div class="form-group text-center">
								<input id="form_city" type="password" name="password" id="id_password" class="form-control text-center" placeholder="Mot de passe" required="required" data-error="Entrez votre mot de passe !">
								<div class="help-block with-errors"></div>
							</div>
						</div>

					</div>
					<div class="row justify-content-center">




						<div class="col-md-8 mt-3 text-center">
									<input type="submit" name="login" class="btn btn-primary js-tilt btn-primary" data-tilt-perspective="300" data-tilt-speed="700" data-tilt-max="24" value="Se Connecter">
						</div>
                        <p>
					</p></div>
				</div>
			</form>
{% endif %}

{% endblock %}