{% extends 'registration/base-dashboard.html' %}
{%block title%} Profile {%endblock%}
{%block content%}
<div class="progress progress-lg  progress-success  mb-3">
    <div class="progress-bar" role="progressbar" style="width: {{pourcentage}}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>
  {% if latest_question_list %}

    {% for question in latest_question_list %}
      <div class="card mb-3">
        <div class="card-body">
          <p class="lead">{{ question.question_text }}</p>
          <a href="{% url 'polls:detail' question.id %}" class="btn btn-primary btn-sm">Vote Now</a>
          <a href="{% url 'polls:results' question.id %}" class="btn btn-secondary btn-sm">Results</a>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>Pas de votes disponible</p>
  {% endif %}
{%endblock%}
