{% extends 'base.html' %}
{% block content %}

<div class="card text-center">
  <div class="card-body">
    <h1>-=- Entity -=-</h1>
    <p>This is our list of Entities</p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#Id</th>
          <th scope="col">Name</th>
          <th scope="col">Function</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
        </tr>
      </thead>
      <tbody>
      {% for Entity in OrganismEntity %}
        <tr>
          <th scope="row">{{Entity.id}}</th>
          <td>{{Entity.full_name}}</td>
          <td>{{Entity.function}}</td>
          <td>{{Entity.email}}</td>
          <td>{{Entity.phone}}</td>
        </tr>
      {%endfor%}
          </tbody>
        </table>
  </div>
  </div>
{% endblock %}