{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>405 - Erreur</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/pages/error.css' %}">
</head>

<body>
    <div id="error">


      <div class="error-page container">
          <div class="col-md-8 col-12 offset-md-2">
              <!-- <img class="img-error" src="{% static 'assets/images/samples/error-500.png' %}" alt="Non trouvé"> -->
              <div class="text-center">
                  <h1 class="error-title">Erreur systéme</h1>
                  <p class="fs-5 text-gray-600">Le site est actuellement indisponible. Veuillez réessayer plus tard ou contacter le développeur.</p>
                  <a href="{% url 'home' %}" class="btn btn-lg btn-outline-primary mt-3">Allez à l'accueil</a>
              </div>
          </div>
      </div>


    </div>
</body>

</html>
{% endblock %}
