<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>TunisianSmartCities {% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary mb-4">
	    <div class="container">
		    <a class="navbar-brand" href="/">Tunisian Smart Cities</a>

            <div style="color: #fff;display: flex; justify-content: space-around">
                {% if user.is_authenticated %}
                    <p>Hi {{ user.username }}!</p>{% if user.is_staff %}<a style="color: #fff;" class="btn btn-danger" href="/admin/">Admin</a>{% endif %}<a style="color: #fff;" class="btn btn-success" href="{% url 'dashboard' %}">Dashboard</a><a style="color: #fff;" class="btn btn-secondary" href="{% url 'logout' %}">Logout</a>
                {% else %}
                  <p>You are not logged in, </p><a  style="color: #fff;" class="btn btn-success" href="{% url 'login' %}">Log In</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-12 m-auto">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
