{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card text-center">
  <div class="card-body">
    <h1>-=- Welcome -=-</h1>
    <p>This is our website</p>
{% if user.is_authenticated %}
    <a class="btn btn-dark" href="{% url 'logout' %}">Logout</a><br><br>

{% else %}
<a class="btn btn-dark" href="{% url 'login' %}">Login</a><br><br>

      <h1>-=- Application Form -=-</h1>
      <form method="post">
          {%  csrf_token %}
          {{ form|crispy }} <button type="submit" class="btn btn-primary">Submit</button>
     </form>
  {% endif %}
  </div>
  </div>
{% endblock %}
